:root {
    font-size: 62.5%;
    scroll-behavior: smooth;

    /*--------------------------------------- Website Theme */
    --color-primary: hsl(0, 0%, 100%);

    --color-secondary: hsl(42, 85%, 53%);
    --color-secondary-m: hsl(42, 99%, 39%);
    --color-secondary-m-2: hsl(42, 85%, 53%, 0.9);
    --color-secondary-m-3: hsl(42, 85%, 53%, 0.3);

    --color-tertiary: hsl(124, 92%, 24%);
    --color-tertiary-m: hsl(123, 100%, 18%);
    --color-tertiary-m2: hsl(120, 20%, 37%, 0.9);

    --color-quartenary: hsl(0, 0%, 11%);
    --color-quartenary-m: hsl(0, 0%, 11%, 0.4);
    --color-quartenary-m-2: hsl(0, 0%, 11%, 0.9);

    --color-stroke: #f3f3f3;
    /* ---------------- Sizing Nature
        d   = dynamic
        st  = static

        ---------------- Sizing
        l   = Large
        m   = Medium
        s   = Small
        xs  = Extra small
        c   = Customized


        ---------------- Orientation
        v   = vertical (top & bottom)
        h   = horizontal (right & left)
    */

    /*--------------------------------------- Padding */
    /* Dynamic */
    --padding-d-l-v: calc(2rem + 12vh);
    --padding-d-l-h: calc(2rem + 12vw);
    
    --padding-d-mc-v: calc(1rem + 4vh);
    --padding-d-mc-h: calc(1rem + 4vw);
    
    --padding-d-m-v: calc(1rem + 2vh);
    --padding-d-m-h: calc(1rem + 2vw);
    
    --padding-d-s-v: calc(1rem + 1vh);
    --padding-d-s-h: calc(1rem + 1vw);
    
    /* Static */
    --padding-st-l-v: 2rem;
    --padding-st-l-h: 3rem;
    
    --padding-st-m-v: 1.5rem;
    --padding-st-m-h: 2.5rem;
    
    --padding-st-s-v: 1rem;
    --padding-st-s-h: 2rem;

    /*--------------------------------------- Font Size */
    /*---------------- Sizing Nature
        d   = dynamic
        st  = static
      ---------------- Sizing
        xl  = extra large
        l   = large
        m   = medium
        s   = small
        xs  = extra small
        c   = customized

      ---------------- Family
        font-family: 'Oswald', sans-serif;
        font-family: 'Plus Jakarta Sans', sans-serif;
    */

    /* Dynamic */
    --font-size-d-lc: calc(3rem + 3.5vw);
    --font-size-d-l: calc(2rem + 3vw);
    --font-size-d-mc: calc(2rem + 2.5vw);
    --font-size-d-m: calc(1rem + 2vw);
    --font-size-d-sc: calc(1rem + 1.5vw);
    --font-size-d-s: calc(1rem + 1vw);

    /* Static */
    --font-size-st-xl: 4rem;
    --font-size-st-lc: 3.5rem;
    --font-size-st-l: 3rem;
    --font-size-st-mc: 2.5rem;
    --font-size-st-m: 2rem;
    --font-size-st-sc: 1.5rem;
    --font-size-st-s: 1rem;

    /* Family */
    --font-family-title: "Merriweather", sans-serif;
    --font-family-content: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: var(--color-stroke);
    font-family: var(--font-family-content);
    line-height: 1.6;
}

a {
    text-decoration: none;
    border-radius: 1rem;
}

li {
    list-style: none;
}
