.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    font-weight: 500;
  
    button {
      background-color: var(--color-secondary);
      color: white;
      border: none;
      border-radius: .6rem;
      padding: .8rem 1.6rem;
      font-size: var(--font-size-st-sc);
      cursor: pointer;
      transition: background-color .3s ease-in-out;
  
      &:hover:not(:disabled) {
        background-color: var(--color-secondary-m-2);
      }
  
      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
  
    span {
      color: #333;
      font-size: var(--font-size-st-m);
    }
  }
  