<section class="members"> 
    <div class="members__table">
        <app-painel-title
            title="Membros"
            description="Cadastre ou gerencie os membros da equipe"
            (filterChanged)="onFilterChanged($event)">
        </app-painel-title>
        
        <app-table 
            (requestDataUpdate)="handleRegisterModal()"
            (onUserUpdated)="reloadPage()"
            [data]="membersData"
            [totalPages]="totalPages"
            [currentPage]="currentPage"
            (pageChange)="handlePageChange($event)"
            addtitle="membros">
        </app-table>
    </div>
</section>
