.associates-table {
    width: 100%;
    border-collapse: collapse;

    th,td {
        text-align: center;
        padding: 2rem 1rem;
        width: 25%;

        &:first-child{
            text-align: left;
        }
    }

    &__head {
        font-size: var(--font-size-st-sc);
        position: relative;

        &--add {
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: all ease-in-out .3s;
            padding: .5rem;
            justify-content: center;

            i {
                font-size: var(--font-size-st-m);
                color: var(--color-secondary);
            }

            &:hover {
                cursor: pointer;
                background-color: var(--color-secondary-m);
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: var(--color-stroke);
            top: 100%;
            left:0;
        }
    }

    &__body {
        font-size: var(--font-size-st-sc);

        &--container{
            transition: all ease-in-out .3s;
            position: relative;

            &__user-info {
                display: flex;
                flex-direction: column;

                p {
                    color: #8f8f8f;
                }
            }

            &__trash {
                color: red;

                &:hover {
                    cursor: pointer;
                }
            }

            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: var(--color-stroke);
                top: 100%;
                left: 0;
            }
                
            &:hover {
                background-color: var(--color-stroke);
                cursor: pointer;
            }
        }
    }
}