<section class="associates"> 
    <div class="associates__table">
        <app-painel-title
            title="Associados"
            description="Cadastre ou gerencie os associados"
            (filterChanged)="onFilterChanged($event)">
        </app-painel-title>
        
        <app-table 
            (requestDataUpdate)="handleRegisterModal()"
            [data]="associatesData"
            [totalPages]="totalPages"
            [currentPage]="currentPage"
            (pageChange)="handlePageChange($event)">
        </app-table>
    </div>
</section>
