<body class="user-created">
    <section class="user-created__container">
        <h2 class="user-created__container--title">Cadastro realizado com sucesso!</h2>

        <figure class="user-created__container--img">
            <img src="/assets/sucess.png" alt="sucesso" loading="eager">
        </figure>

        <div>
            <a class="register" (click)="reload()">Cadastrar outro associado</a>
            <a href="https://docdobrasil.com.br/">Retornar a pagina principal</a>
        </div>
    </section>
    
</body>
