<body class="container">
    <app-navbar></app-navbar>
    <h1>Configuração da conta</h1>

    <section class="home">
        <section class="home__content-profile">
            <div class="home__content-profile--content-personal">
                <div class="home__content-profile--content-personal__title">
                    <p>Pessoal</p>
                </div>

                <ul class="home__content-profile--content-personal__items">
                    <li class="home__content-profile--content-personal__items--item">
                        <i class="fa-solid fa-user"></i>
                        <p>Perfil</p>
                    </li>
                    <li class="home__content-profile--content-personal__items--item">
                        <i class="fa-solid fa-lock"></i>
                        <p>Senha</p>
                    </li>
                </ul>
            </div>

            <div class="home__content-profile--content-personal">
                <div class="home__content-profile--content-personal__title">
                    <p>Assosiação</p>
                </div>

                <ul class="home__content-profile--content-personal__items">
                    <li class="home__content-profile--content-personal__items--item">
                        <i class="fa-solid fa-users-gear"></i>
                        <p>Membros do time</p>
                    </li>

                    <li class="home__content-profile--content-personal__items--item">
                        <i class="fa-solid fa-users"></i>
                        <p>Associados</p>
                    </li>
                </ul>
            </div>
            
        </section>
        
        <section class="home__content">
            <div class="home__content--description">
                <h3 class="home__content--description__title">
                    Membros associados
                </h3>

                <p class="home__content--description__para">
                    Cadastre ou gerencie associados.
                </p>
            </div>

            <div class="home__content--workspace">
                <table class="home__content--workspace__table">
                    <thead class="home__content--workspace__table--head">
                        <h3>Associados</h3>
    
                        <div class="home__content--workspace__table--head__add">
                            <i class="fa-solid fa-plus"></i>
                            <p>Adicionar Associado</p>
                        </div>
                    </thead>

                    <tbody class="home__content--workspace__table--body">
                        <div class="home__content--workspace__table--body__user-info">
                            <h3 class="home__content--workspace__table-body--user-info__name">
                                Usuario Teste
                            </h3>

                            <p>
                                usuario_teste&#64;gmail.com
                            </p>
                        </div>

                        <span class="home__content--workspace__table--body__status">
                             Ativo
                        </span>

                        <p>Editor</p>

                        <i class="fa-solid fa-trash home__content--workspace__table--body__trash"></i>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
</body>