<body class="container">
    <app-navbar></app-navbar>
    <h1>{{ state.getTitle() | async  }}</h1>

    <section class="home">
        <section class="home__content-profile">
            <div class="home__content-profile--content-personal">
                <div class="home__content-profile--content-personal__title">
                    <p>Pessoal</p>
                </div>

                <ul class="home__content-profile--content-personal__items">
                    <li class="home__content-profile--content-personal__items--item" routerLink="perfil">
                        <i class="fa-solid fa-user"></i>
                        <p>Perfil</p>
                    </li>
                    <li class="home__content-profile--content-personal__items--item" routerLink="senha">
                        <i class="fa-solid fa-lock"></i>
                        <p>Senha</p>
                    </li>
                </ul>
            </div>

            <div class="home__content-profile--content-personal">
                <div class="home__content-profile--content-personal__title">
                    <p>Assosiação</p>
                </div>

                <ul class="home__content-profile--content-personal__items">
                    <li class="home__content-profile--content-personal__items--item" routerLink="membros" (click)="loading.show()">
                        <i class="fa-solid fa-users-gear"></i>
                        <p>Membros do time</p>
                    </li>

                    <li class="home__content-profile--content-personal__items--item" routerLink="associados" (click)="loading.show()">
                        <i class="fa-solid fa-users"></i>
                        <p>Associados</p>
                    </li>
                </ul>
            </div>
            
        </section>
        
        <section class="home__content">
            <div class="home__content--description">
                <h3 class="home__content--description__title">
                    {{ state.getTitle() | async }}
                </h3>

                <p class="home__content--description__para">
                    {{ state.getSubscription() | async }}
                </p>
            </div>

            <div class="home__content--workspace">
                <router-outlet></router-outlet>
            </div>
        </section>
    </section>
</body>