<body class="container">
    <app-navbar userName="Lais"></app-navbar>
    <h1>DOC do Brasil</h1>

    <section class="home">
        <section class="home__content-profile">
            <div class="home__content-profile--content-personal">
                <div class="home__content-profile--content-personal__title">
                    <p>Pessoal</p>
                </div>

                <ul class="home__content-profile--content-personal__items">
                    <li class="home__content-profile--content-personal__items--item" routerLink="perfil">
                        <i class="fa-solid fa-user"></i>
                        <p>Perfil</p>
                    </li>
                    <li class="home__content-profile--content-personal__items--item" routerLink="senha">
                        <i class="fa-solid fa-lock"></i>
                        <p>Senha</p>
                    </li>
                </ul>
            </div>

            <div class="home__content-profile--content-personal">
                <div class="home__content-profile--content-personal__title">
                    <p>Assosiação</p>
                </div>

                <ul class="home__content-profile--content-personal__items">
                    <li class="home__content-profile--content-personal__items--item" routerLink="membros">
                        <i class="fa-solid fa-users-gear"></i>
                        <p>Membros do time</p>
                    </li>

                    <li class="home__content-profile--content-personal__items--item" routerLink="associados">
                        <i class="fa-solid fa-users"></i>
                        <p>Associados</p>
                    </li>
                </ul>
            </div>
            
        </section>
        
        <section class="home__content">
            <div class="home__content--workspace">
                <router-outlet></router-outlet>
            </div>
        </section>
    </section>
</body>