<section class="password">
    <div class="popup" *ngIf="showErrorPopup">
        <div *ngFor="let message of errorMessage">
            <span>{{ message }}</span>
        </div>
    </div>

    <div class="popup-sucess" *ngIf="showSucessfulyPopup">
        <i class="fa-solid fa-circle-check"></i>
        <p>{{ successfulyMessage }}</p>
    </div>

    <h2>Alterar senha</h2>
    
    <div class="password__content">
      <figure class="password__content--img">
        <img src="../../../../../assets/troca-de-senha.jpg" alt="troca de senha">
      </figure>

      <form [formGroup]="passwordForm" class="password__fieldset">
          <mat-form-field>
            <mat-label>Digite sua senha atual</mat-label>
            <input matInput [type]="hideCurrent() ? 'password' : 'text'" formControlName="currentPassword" />
            <button mat-icon-button matSuffix (click)="clickEventCurrentPassword($event)">
              <mat-icon>{{hideCurrent() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Digite sua nova senha</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="newPassword" />
            <button mat-icon-button matSuffix (click)="clickEvent($event)">
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Confirme sua senha</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="confirmNewPassword" />
            <button mat-icon-button matSuffix (click)="clickEvent($event)">
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>   
        
          <a class="password__fieldset--btn" (click)="updatePassword()">Alterar senha</a>
      </form>
    </div>
</section>
